.dtHorizontalVerticalExampleWrapper {
max-width: 600px;
margin: 0 auto;
}
#dtHorizontalVerticalExample th, td {
white-space: nowrap;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}
.box.box-success {
  border-top-color: #02a1e3;
}
.box {
  position: relative;
  border-radius: 3px;
  background: #fff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
}
.box, .small-box {
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.setColor:hover {
  color: #017bad;
}
.setColor:after{
  text-decoration:none;
  color: #02a1e3;
}

.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.box-header .box-title, .box-header>.fa, .box-header>.glyphicon, .box-header>.ion {
  display: inline-block;
  font-size: 22px;
  margin: 0;
  line-height: 2;
}
.box-footer {
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #fff;
  border-radius: 0 0 3px 3px;
}
.box-body {
  padding: 10px;
  border-radius: 0 0 3px 3px;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid black;
}

.size-11{
  font-size:11.5px;
}

.size-13{
  font-size:13.5px;
}
.e-footer-bar{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
}
.e-container-fluid{
     min-height: 100vh;
     /* will cover the 100% of viewport */
     overflow: hidden;
     display: block;
     padding-bottom: 15px;
      /* height of your footer */

}

.e-btn.width-40 {
    width: 40%;
    margin-left: 0!important;
    margin-right: 0!important;
}
