.header{

height: 75px;
width: 100%;
position: fixed;
top:0;
left:0;
color:white;

}

.main_header{

    background-color:#050831;
    height: 75px;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    color:white;
    
}

.registrar_header{

background-color:#05081;
height: 75px;
width: 100%;
position: fixed;
top:0;
left:0;
color:white;

}

.finance_header{

background-color:#02a1e3;
height: 75px;
width: 100%;
position: fixed;
top:0;
left:0;
color:white;

}

.payco_header{

background-color:#008eb4 ;
height: 75px;
width: 100%;
position: fixed;
top:0;
left:0;
color:white;

}

.header , h1 {
    font-family: "Century Gothic", sans-serif;
    padding-left:20px;


}

table{
    font-family: "Calibri", sans-serif;
    padding-left:10px;
    opacity: 0.8s;
}

.header, .sys{

}

#body-cont{

    background-image: url('../photos/body.jpg');

    height: 100%;
width: 100%;



}




.foot{
    background-color: #3e3e3e;
    color:white;
    font-family: "Calibri", sans-serif;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}
a{
    text-decoration: none;
    color:black;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px;
}
