.header{
background-color:#7e1037 ;
height: 75px;
width: 100%;
position: fixed;
top:0;
left:0;

color:white;
z-index: -1;
}
.maroon{
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.size-11{
  font-size:10px;
}

.e-footer-bar{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
}

.width_inherit{
  width:inherit;
}


.header2{

    margin-top:75px;
    background-color: #3e3e3e ;
    height: 30px;
    width: 100%;
    position: fixed;
    top:1;
    left:0;
    z-index: 2;
    color:white;

    }

.header , h1 {
    font-family: "Century Gothic", sans-serif;
    padding-left:20px;


}

table{
    font-family: "Calibri", sans-serif;
    padding-left:10px;
    opacity: 0.8s;
}

.header, .sys{

}

#body-cont{

    text-align:  center;
   

    height: 100%;
    width: 100%;



}

#loader-7{
  background-image:url(../photos/sidebar7.png);
}



.foots{



    background-color: #3e3e3e;
    margin-top:-150px;
    padding-top: 5px;
    padding-left: 10px;
    color:white;
    font-family: "Calibri", sans-serif;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;


}

a{
    text-decoration: none;
    color:black;
    
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px;
      height: 100%;
}

.view input{

    padding-left:10px;
    margin-left:10px;
     margin-right:10px;
     margin-bottom:10px;
     border:none;
     disabled:true;
     outline:none;
     width:164px;
     font-size:12px;

     height:30px;border-radius:30px;min-width:100%;box-shadow:none;border:1px solid #eaeaea;

  }

  .view label{


   padding-left:15px;
   font-size:12px;




  }




#p_info{
   text-transform:uppercase; width: 100%; border:none; margin-top:0px;margin-bottom: 0px;
}

#p_info1{
    text-transform:uppercase; width: 80%; border:none; margin-top:0px;margin-bottom: 0px;
 }
 #p_info2{
    text-transform:uppercase; width: 100%; border:none; margin-top:0px;margin-bottom: 0px;
 }


#s_info{
    text-transform:uppercase;  width: 100%; border:none; margin-top:0px;margin-bottom: 0px;
}

#g_info{
    text-transform:uppercase; width: 50%; border:none; margin-top:0px;margin-bottom: 0px;
}
#h_info{
    width:570px;text-transform:uppercase
}
input{

}

/* sidenav css*/

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.logo{

}

.settings {

  height:73px;
  float:left;
  background:url( https://s3.postimg.org/bqfooag4z/startific.jpg);
  background-repeat:no-repeat;
  width:250px;
  margin:0px;
 text-align: center;
font-size:20px;
font-family: 'Strait', sans-serif;

}






/* ScrolBar  */
.scrollbar
{

height: 90%;
width: 100%;
overflow-y: hidden;
overflow-x: hidden;
}

.scrollbar:hover
{

height: 90%;
width: 100%;
overflow-y: scroll;
overflow-x: hidden;
}

/* Scrollbar Style */



#style-1::-webkit-scrollbar-track
{
border-radius: 2px;
}

#style-1::-webkit-scrollbar
{
width: 5px;
background-color: #F7F7F7;
}

#style-1::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #BFBFBF;
}
/* Scrollbar End */




.urls
{
color:#3090C7;
}


.main-menu:hover, nav.main-menu.expanded {
width:250px;
overflow:hidden;
opacity:1;

}

.main-menu {
background:#F7F7F7;
position:absolute;
top:1;
bottom:1;
height:70%;
left:0;
width:30px;
overflow:hidden;
-webkit-transition:width .2s linear;
transition:width .2s linear;
-webkit-transform:translateZ(0) scale(1,1);
box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  opacity:1;
}

.main-menu>ul {
margin:7px 0;

}

.main-menu li {
position:relative;
display:block;
width:250px;



}

.main-menu li>a {
position:relative;
width:255px;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#8a8a8a;
font-size: 13px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .14s linear;
transition:all .14s linear;
font-family: 'Strait', sans-serif;
border-top:1px solid #f2f2f2;

text-shadow: 1px 1px 1px  #fff;
}



.main-menu .nav-icon {

position:relative;
display:table-cell;
width:55px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;

}

.main-menu .nav-text  {

position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
font-family: 'Titillium Web', sans-serif;
}

.main-menu .share {
}



.main-menu .fb-like {

left: 180px;
position:absolute;
top: 15px;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;

}

.no-touch .scrollable.hover {
overflow-y:hidden;

}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;

}


/* Logo Hover Property */


.settings:hover, settings:focus {
  background:url( https://s17.postimg.org/74cl7s05b/logo_hover.jpg);
  -webkit-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
-moz-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
-o-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
}

.settings:active, settings:focus {
  background:url( https://s3.postimg.org/bqfooag4z/startific.jpg);
  -webkit-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
-moz-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
-o-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
}


a:hover,a:focus {
text-decoration:none;
border-left:0px solid #F7F7F7;



}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;

}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
text-transform: uppercase;
}




/* Darker element side menu Start*/


.darkerli
{
background-color:#ededed;
text-transform:capitalize;
}

.darkerlishadow
{
background-color:#ededed;
text-transform:capitalize;
-webkit-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
-moz-box-shadow:    inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
box-shadow:         inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
}


.darkerlishadowdown
{
background-color:#ededed;
text-transform:capitalize;
-webkit-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
-moz-box-shadow:    inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
box-shadow:         inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
}

/* Darker element side menu End*/




.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#7e1037;
text-shadow: 0px 0px 0px;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}


 .gradients{
  color:white;
  width: 100%;
  height: 100px;
 background-image: linear-gradient(#403A3E,#BE5869);
}

.footer{
    position:fixed;
    bottom:0;
   }


   .mybox {
       width: 100%;
       height : 400px;
       background-color:gray;
   }
