<div class="e-container-fluid">
      <div class="e-cols center-aligned">
            <div class="e-col-8">
                  <div class="e-box shadow-6" ng-init="getCurrentSettings()">
                        <div class="e-cols">
                              <div class="e-form-group e-col-6">
                                    <select class="e-select e-control" id="settingsSelector"
                                          placeholder="Select Setting" ng-model="settingID" required>
                                          <option value="" class="text-white" hidden>Select current setting</option>
                                          <option value="" class="text-white" style="background-color: #5e72e4;">Current
                                                settings</option>
                                          <option value="{{setting.id}}" ng-repeat="setting in currentSettings">
                                                {{setting.description}}</option>

                                          <option value="" class="text-white" ng-if="consumedSettings.length != 0" style="background-color: #5e72e4;">customer consumed
                                                settings</option>
                                          
                                          <option value="{{cs.setting_id}}" ng-repeat="cs in consumedSettings">
                                                {{cs.description}}</option>
                                          
                                          
                                          <option value="" class="text-white" style="background-color: #5e72e4;">Other
                                                settings</option> 
                                          
                                          <option value="{{ns.id}}" ng-repeat="ns in notCurrentSettings">
                                                {{ns.description}}</option>
                                                

                                    </select>
                                    <p class="e-form-info">Enter the correct current settings. Note : All transactions
                                          will be saved
                                          on this selected setting</p>

                              </div>

                              <div class="e-form-group unified e-col-6">
                                    <input class="e-control" type="text" ng-change="getConsumedSettings(customerID)" placeholder="@Enter student number...."
                                          ng-model="customerID" required>
                                    <a class="e-btn purple" id="searchBtn" ng-click="getCustomerByID()"><i
                                                class="fas fa-search"></i> search</a>
                                    <p class="e-form-info">If the customer does not have an active student number(Not
                                          presently enrolled) on, kindly enter
                                          his/her
                                          name on this text box</p>
                              </div>

                        </div>


                        <div class="">
                              <h3 class="poppins" style="font-family: 'Poppins',
    sans-serif !important;">Customer Details</h3>
                              <h4>{{theCustomer[0].last_name || "Last Name" }},
                                    {{theCustomer[0].first_name || "First Name"}}
                                    {{theCustomer[0].middle_name || ""}}
                                    <span class="e-tag purple static"> {{theCustomer[0].name || "Course or Strand"}}
                                    </span>
                                    <span class="e-tag primary static"> {{theCustomer[0].short_name || "Year Level"}}
                                    </span>
                                    <!-- <span class="e-tag warning static" ng-repeat='discount in theCustomer[0].fees_summary.discounts'>{{discount.name}} </span> -->
                              </h4>

                              <div class="e-cols pt-2">
                                    <!-- <div class="e-col-6 center-aligned">

                                          <div class="between d-flex">
                                                <div class="e-tags unified">
                                                      <span class="e-tag  purple">This School Year</span>
                                                      <span class="e-tag  dark">Tuition Bar Chart</span>
                                                </div>
                                                <div class="">
                                                      <a class="e-btn black small"><i class="fas fa-receipt"></i></a>
                                                      <a class="e-btn black small"
                                                            onclick="toggleModal('2','TF','TUITION FEE')"><i
                                                                  class="fas fa-arrow-right"></i></a>
                                                </div>
                                          </div>

                                          <canvas id="bar" class="chart chart-bar" chart-data="dataTuition"
                                                chart-labels="labelsTuition" chart-colors='colorsTuition'
                                                chart-series="seriesTuition">
                                          </canvas>
                                          <div class="pt-2 e-toolbar">
                                                <div class="e-tags unified">
                                                      <span class="e-tag dark">Tuition Paid In Percent : </span>
                                                      <span
                                                            class="e-tag warning">{{_tuitionPaidPercent || "0" | number:2 }}%</span>
                                                </div>
                                                <div class="e-tags unified">
                                                      <span class="e-tag dark">Tuition Paid: </span>
                                                      <span class="e-tag blue-gradient">Php
                                                            {{_tuitionPaid || "0.00" | number:2 }}</span>
                                                </div>

                                                <div class="e-tags unified">
                                                      <span class="e-tag dark">Tuition Balance : </span>
                                                      <span class="e-tag success">Php
                                                            {{_tuitionBalance || "0.00" | number:2 }}</span>
                                                </div>
                                          </div>

                                          <span class="pt-3"></span>
                                          <span class="e-tag text-dark static">Customer must pay this amount to reach :
                                          </span>

                                          <div class="pt-3 e-toolbar">
                                                <div class="e-tags unified">
                                                      <span class="e-tag blue-gradient">Php
                                                            {{_tuition40 || "0.00" | number:2 }}</span>
                                                      <span class="e-tag black">40%</span>
                                                </div>
                                                <div class="e-tags unified">
                                                      <span class="e-tag black">Php
                                                            {{_tuition70 || "0.00" | number:2 }}</span>
                                                      <span class="e-tag dark">70%</span>
                                                </div>
                                                <div class="e-tags unified">
                                                      <span class="e-tag sky">Php
                                                            {{_tuition100 || "0.00" | number:2 }}</span>
                                                      <span class="e-tag black">100%</span>
                                                </div>
                                          </div> 




                                    </div> -->
                                    <!-- <div class="e-col-6">

                                          <div class="between d-flex">
                                                <div class="e-tags unified">
                                                      <span class="e-tag dark">Customer Back Accounts</span>
                                                      <span class="e-tag primary">Pie Chart</span>
                                                </div>
                                                <div class="">
                                                      <a class="e-btn black small" onclick="toggleModal2()"><i class="fas fa-receipt"></i> view </a>
                                                      <a class="e-btn black small"
                                                            onclick="toggleModal('1000','BA','BACK ACCOUNT PAYMENT')"> view </a>
                                                </div> 
                                          </div>

                                          <canvas id="pie" class="chart chart-pie" chart-data="dataBackAccount"
                                                chart-labels="labelsBackAccount">
                                          </canvas>

                                          <div class="pt-2 e-toolbar">
                                                <div class="e-tags unified">
                                                      <span class="e-tag dark">BackAccounts Paid In Percent : </span>
                                                      <span
                                                            class="e-tag purple">{{_backAccountPaidPercent || "0" | number:2 }}%</span>
                                                </div>
                                                <div class="e-tags unified">
                                                      <span class="e-tag dark">BackAccounts Paid: </span>
                                                      <span class="e-tag sky">Php
                                                            {{_backAccountPaid || "0.00" | number:2 }}</span>
                                                </div>

                                                <div class="e-tags unified">
                                                      <span class="e-tag dark">BackAccounts Balance : </span>
                                                      <span class="e-tag danger">Php
                                                            {{_backAccountRemaining || "0.00" | number:2 }}</span>
                                                </div>

                                                <div class="e-tags unified ">
                                                      <span class="e-tag dark ">Total Accumulated Back accounts: </span>
                                                      <span class="e-tag black">Php
                                                            {{_backAccountTotal || "0.00" | number:2 }}</span>
                                                </div>
                                          </div>

                                    </div>-->
                              </div> 
                        </div>


                        <!-- ======================================== -->
                        <div class="pt-2">
                              <div class="e-cols between">
                                    <h3 class="poppins" style="font-family: 'Poppins',sans-serif !important;">Cashboard
                                    </h3>
                                    <div class="e-col-4">
                                          <input class="e-control" type="text" placeholder="@fee code or name...."
                                                ng-model="search" required>
                                          <p class="e-form-info">this search box only searches fees on the selected
                                                category</p>
                                    </div>
                              </div>
                              <nav class="e-tabs" ng-init="getAllFeesByID('AF')">
                                    <ul>

                                          <li ng-class="(buttonClicked == 'AF') ? 'active' : ''"><a
                                                      ng-click="getAllFeesByID('AF')">Apprentice Fee</a></li>
                                          <li ng-class="(buttonClicked == 'BF') ? 'active' : ''"><a
                                                      ng-click="getAllFeesByID('BF')">Books Fee</a></li>
                                          <li ng-class="(buttonClicked == 'OF') ? 'active' : ''"><a
                                                      ng-click="getAllFeesByID('OF')">Others Fee</a></li>
                                    </ul>
                              </nav>
                              <div class="container-fluid scrollable">
                                    <div class="e-list no-border" ng-init="allFees">
                                          <a class="e-list-item between d-flex"
                                                dir-paginate="fee in allFees | filter : search | itemsPerPage:100"
                                                ng-click="addTransaction(fee.id,fee.code,fee.description,fee.amount,fee.batch_id)">

                                                <span class=''><span class="text-bold">{{fee.code}}</span> -
                                                      {{fee.description}}</span>

                                                <span class=''><span class="text-bold align-end">₱ {{fee.amount}}</span>
                                                      <span ng-if='fee.batch_name'>
                                                            {{fee.batch_name}}, Remaining Slot : {{fee.quota}} = {{fee.available_slot}}
                                                      </span>
                                                </span>
                                          </a>

                                    </div>
                              </div>
                        </div>
                        <!-- ======================================== -->


                        <!-- ======================================== -->
                        <div class="pb-1 pt-2">
                              <h3 class="poppins" style="font-family: 'Poppins',sans-serif !important;">Student
                                    Transaction Ledger </h3>

                              <nav class="e-tabs" ng-init="customerID">
                                    <ul ng-init="getConsumedSettings(customerID)">
                                          <li ng-repeat='setting in userConsumedSettings'
                                                ng-init="getTransactionBySetting(userConsumedSettings[0].setting_id,userConsumedSettings[0].enrollment_id)"
                                                ng-class="(buttonClicked == setting.setting_id)? 'active':''"
                                                ng-click="getTransactionBySetting(setting.setting_id,setting.enrollment_id)">
                                                <a href="">{{setting.description}}</a></li>
                                    </ul>
                              </nav>

                              <table class="e-table bordered striped hovered">
                                    <thead>
                                          <tr>
                                                <th>OR #</th>
                                                <th>Date</th>
                                                <th>Cashier</th>
                                                <th>is_voided</th>
                                                <th>Clearing</th>
                                                <th>Cash Received</th>
                                                <th>Change</th>
                                                <th>Amount Paid</th>

                                          </tr>
                                    </thead>
                                    <tbody>
                                          <tr ng-repeat='transaction in transactions'>
                                                <th><a href="" onclick="showReceiptDetails()"
                                                            ng-click="getReceiptDetails(transaction.id)">{{transaction.receipt_no}}</a>
                                                </th>
                                                <td>{{transaction.created_at}}</td>
                                                <td>{{transaction.name}}</td>
                                                <td ng-bind="(transaction.is_voided == 1) ? 'voided': 'not voided'">
                                                </td>
                                                <td ng-bind="(transaction.is_posted == 1) ? 'posted': 'not posted'">
                                                </td>
                                                <td>Php. {{transaction.cash | number:2}}</td>
                                                <td>Php. {{transaction.cash_change | number:2}}</td>
                                                <td>Php. {{transaction.subtotal | number:2}}</td>
                                          </tr>

                                          <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="background:#5e72e4;" class="text-white">Total:</td>
                                                <td style="background:#5e72e4;" class="text-white">Php.
                                                      {{total | number:2}}</td>
                                          </tr>

                                    </tbody>
                              </table>


                        </div>
                        <!-- ======================================== -->



                  </div>
            </div>
            <div class="e-col-4">
                  <div class="e-box shadow-6">
                        <div class="d-flex between">
                              <div class="e-tags unified pt-3">
                                    <span class="e-tag warning">Date : </span>
                                    <span class="e-tag dark">{{date | date:'MMMM dd, yyyy'}} </span>
                              </div>

                              <div class="e-form-group unified pt-3" ng-init="getActiveUser()">
                                    <div class="e-control-helper">
                                          OR #
                                    </div>

                                    <select class="e-select e-control" id="settingsSelector"
                                          placeholder="Select receipt" ng-init="availableReceipts" ng-change="a()"
                                          ng-model="receiptSelected" required>
                                          <option value="">Select receipt</option>
                                          <option value="{{receipt}}" ng-repeat="receipt in availableReceipts">
                                                {{receipt.receipt_no}}</option>
                                    </select>

                              </div>
                        </div>


                        <h1 class="poppins align-end" style="font-family: 'Poppins',sans-serif !important;"
                              ng-init="amountFees">₱ {{amountFees  | currency:'': 2}}</h1>
                        <div class="e-form-group unified">
                              <div class="e-control-helper text-black">
                                    Cash Received
                              </div>
                              <input class="e-control" type="text" ng-model='cashReceived'
                                    ng-change="computeChange(cashReceived)" placeholder="@Enter Cash amount">

                        </div>
                        <a class="e-btn purple fullwidth" ng-click="payNow()"><i class="fas fa-file-invoice"></i>
                              PayNow</a>


                        <div class="container-fluid pt-1">
                              <h6 class="e-tag dark">Breakdown</h6>
                              <div class="e-list" ng-init="transaction_details">
                                    <a class="e-list-item between d-flex" ng-repeat="td in transaction_details">
                                          <span class=''>
                                                <span class="text-bold">{{td[1]}}</span>
                                                -
                                                {{td[2]}}

                                                <span>- ₱ {{td[3]}} </span>

                                          </span>

                                          <button class='e-btn small primary' ng-click="dismiss($index,td[3])"><i
                                                      class="fas fa-times"></i></button>
                                    </a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>



<div class="e-modal" id='enterAmount'>
      <div class="e-modal-content eSlide">
            <header class="e-modal-header">
                  <p class="e-modal-title"></p>
                  <button type="button" class="e-delete close">
                        <i aria-hidden="true">&times;</i>
                  </button>
            </header>
            <div class="e-modal-body">
                  <input class="e-control" type="text" id='a' ng-model="id" style="display:none;">
                  <input class="e-control" type="text" id='b' ng-model="code" style="display:none;">
                  <input class="e-control" type="text" id='c' ng-model="description" style="display:none;">

                  <input class="e-control" type="text" ng-model="amount" placeholder="@Enter Amount" required>
            </div>
            <footer class="e-modal-footer">
                  <button class="e-btn inverted close">Cancel</button>
                  <button ng-click="addTransaction2()" class="e-btn dark inverted close">Go <i
                              class="fas fa-arrow-right"></i></button>
            </footer>
      </div>
</div>


<div class="e-modal" id="student_ba">
      <div class="e-modal-content">
            <header class="e-modal-header">
                  <p class="e-modal-title"></p>
                  <button type="button" class="e-delete close">
                        <i aria-hidden="true">&times;</i>
                  </button>
            </header>
            <div class="e-modal-body centered">
                  
                        <a class="e-btn inverted dark" ng-repeat="ba in student_ba" ng-click="addTransactionBackAccounts('1000','BA','BACK ACCOUNT PAYMENT',ba[0].amount,undefined,ba[0])">
                                   {{ba.setting_description}} <span class="e-tag dark">Php. {{ba[0].amount | number:2}}</span>
                        </a>


            </div>
            <footer class="e-modal-footer">
                  <button class="e-btn inverted close">Cancel</button>
            </footer>
      </div>
</div>


<script>
      $('.close').click(function () {
            $('.e-modal').removeClass('launch');
      });

      function toggleModal(id, code, description) {
            $('#a').val(id).trigger('input');
            $('#b').val(code).trigger('input');
            $('#c').val(description).trigger('input');

            $('#enterAmount').addClass('launch');
      }


      
      function toggleModal2() {
            $('#student_ba').addClass('launch');
      }
</script>