<div class="e-container pt-3">

        <div class="e-cols between">
            <div class="e-col-6">
                <h3 class="poppins d-block" style="font-family: 'Poppins',
          sans-serif !important;">Category Creator</h3>
            </div>
    
            <div class="e-col-2">
                <a class="e-btn small inverted purple" onclick="showCategoryModal()"
                 ng-click="categoryType = 'add'; categoryDesc = '';categoryCode = '';">Create Category</a>
            </div>
    
        </div>
    
        <table class="e-table striped bordered">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody ng-init="getCategory()">
                <tr dir-paginate="category in categories | filter : search  | itemsPerPage:20">
                    <td class="">{{$index+1}}</td>
                    <td class="">{{category.code}}</td>
                    <td class="">{{category.description}}</td>
                    <td class=""><a href="" onclick="showCategoryModal()" class="e-btn primary inverted small" ng-click="getCategoryByID(category.id,'update')" style="margin: 0%;"><i class="far fa-edit"></i> update</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="e-modal" id="categoryModal">
        <div class="e-modal-content eSlide">
            <header class="e-modal-header">
                <p class="e-modal-title">Category Details</p>
                <button type="button" class="e-delete close">
                    <i aria-hidden="true">&times;</i>
                </button>
            </header>
            <div class="e-modal-body">
                <div class="e-form-group unified">
                    <input class="e-control" type="text"  ng-model = 'categoryCode'  placeholder="Category Code" required>
                    <input class="e-control" type="text"  ng-model = 'categoryDesc' placeholder="Category Description" required>
                </div>
            </div>
            <footer class="e-modal-footer">
                <button class="e-btn purple outlined"  ng-if="categoryType == 'update'"ng-click="updateCategory()">Save Changes</button>
                <button class="e-btn primary outlined" ng-if="categoryType == 'add'" ng-click="addCategory()">Add Category</button>

            </footer>
        </div>
    </div>
    
    <script>
   function showCategoryModal(){
    $("#categoryModal").toggleClass("launch");
    };
    
    $(".close").click(function(){
    $("e-modal").removeClass("launch");
    });
        
    </script>