<div class="e-container-fluid p-3" ng-init="getDailyCollection('%')">
        <div class="d-flex centered between">
                <h6>Collection as of {{displayDateRange}} </h6>
                <div class="e-form-group unified e-col-6">
                        <select class="e-select e-control"  placeholder="filter By User" ng-model="selectedUforReports" required>
                            <option value="%">All</option>
                            <option ng-value="u.id" ng-repeat="u in allPaycoUsers">{{u.username}}</option>
                        </select>
                        <input type="text" class="e-control" ng-model="dateRange" name="daterange" placeholder="Filter by Date" />
                        <button class="inverted e-btn dark" ng-click="getDailyCollection()"><i class="fa fa-arrow-right"></i> filter</button>
                </div>
                <h6 class="text-shadow underline underline--blue">{{today}}</h6>
    
        </div>
        <h6>End of Day Transaction</h6>
        <table class="e-table bordered hovered">
          <thead>
            <tr>
              <th>No.</th>
              <th>OR #</th>
              <th>Customer Number</th>
              <th>Name</th>
              <th>Strand</th>
              <th>Details</th>
              <th>Cashier</th>
              <th>Date</th>
              <th>Setting</th>
            </tr>
          </thead>
          <tbody>
                <tr dir-paginate="t in dailycollection | itemsPerPage:1000">
                    <th>{{$index+1}}</th>
                    <td> <a onclick="showReceiptDetails()" ng-click="getReceiptDetails(t.id)"  class="d-rel emp">{{t.receipt_no}}</a></td>
                    <td> <a href="?customers&id='{{t.student_number}}'"  class="d-rel emp">{{t.student_number}}</a></td>
                    <td>{{t.last_name}}, {{t.first_name}} {{t.middle_name}}</td>
                    <td>{{t.course_strand}}</td>
                    <td> 
                        <a class="e-list-item" ng-repeat="pb in t.transaction_details">
                            <span class="text-shadow underline underline--blue">{{pb.code}} - {{pb.description}} </span> : <strong> ₱ {{pb.amount | number:2}}</strong>
                            <span class="e-tag text-primary" ng-bind="(pb.is_posted == 1)? 'posted':'not posted'"></span>
                            <span class="e-tag text-purple" ng-bind="(pb.is_voided == 1)? 'voided':'not voided'"></span>
                        </a>
                    </td>
                    <td>{{t.cashier}}</td>
                    <td>{{t.created_at}}</td>
                    <td>{{t.description}}</td>
                </tr>
    
                <tr>
                  <td  style="background:#5e72e4;" class="text-white">total:</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td  style="background:#5e72e4;"class="text-center text-white">Php. {{totaldailycollection | number:2}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
          </tbody>
        </table>
    </div>