<div class="e-container-fluid p-3" ng-init="getGraduationFeeReports()">
    <div class="d-flex between">
            <div class="e-form-group unified e-col-6">
                    <select class="e-select e-control"  placeholder="filter By Course" id="courseSelect" required>
                        <option value="%" 
                        hidden>All</option>
                        <option  
                        value="%">All</option>
                        <option value="bsmare">BSMaRE</option>
                        <option value="bsmt">BSMT</option>
                        <option value="bsca">BSCA</option>
                        <option value="eslpmd">ESLPMD</option>
                        <option value="eslpme">ESLPME</option>
                    </select>
                    <input type="text" class="e-control" ng-model="dateRange" name="daterange" placeholder="Filter by Date"  id="dateSelect"/>
                    <button class="inverted e-btn dark" ng-click="getGraduationFeeReports()"><i class="fa fa-arrow-right"></i> filter</button>
            </div>

            <div class="e-form-group unified e-col-2">
                    <button class="inverted e-btn dark" onclick="printGF('gfTable')"><i class="fas fa-print"></i> print</button>
            </div>
    </div>
    <div class="e-container-fluid" id="gfTable">
    <table class="e-table bordered hovered" >
      <thead>
        <tr>
          <th>#</th>
          <th><a href="" ng-click="sortBy('last_name')" ng-class="(reverse) ? 'DESC': 'ASC'">Name</a> </th>
          <th><a href="" ng-click="sortBy('student_number')" ng-class="(reverse) ? 'DESC': 'ASC'">Student Number</a> </th>
          <th>Strand/Course</th>
          <th>Birthday</th>
          <th>Date Paid</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='gf in gradfee_students | orderBy:propertyName:reverse'>
            <th>{{$index + 1}}</th>
            <td>{{gf.last_name}}, {{gf.first_name}} {{gf.middle_name}}</td>
            <td>{{gf.student_number}}</td>
            <td>{{gf.name}}</td>
            <td>{{gf.birthday}}</td>
            <td>{{gf.created_at}}</td>
        </tr>
      </tbody>
    </table>
</div>
</div>


<script>


function printGF(elem) {
var divToPrint=document.getElementById(elem);

var newWin=window.open('','Print-Window');

newWin.document.open();

newWin.document.write(`<html>
<head>
<link rel="stylesheet" href="../_public/css/allv2.css">
<link href="https://fonts.googleapis.com/css?family=Poppins:300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../_public/css/efrolic.min.css">
<title>Graduation Fee paid ${ $('#dateSelect').val()} (${ $('#courseSelect :selected').text()})</title>
</head>
<body onload="window.print()">
<div class="centered">
    <img src="../_public/photos/logo.png" style="width:90px;height:auto;">
</div>
<h3 class="text-center">Midway</h3>
<h6 class="text-center">${ $('#courseSelect :selected').text()}</h6>
<h6 class="text-center">${ $('#dateSelect').val()}</h6>

 ${divToPrint.innerHTML}
</body></html>`);

newWin.document.close();

setTimeout(function(){newWin.close();},6000);
}



</script>