<div class="e-container pt-3">

    <div class="e-cols between">
        <div class="e-col-6">
            <h3 class="poppins d-block" style="font-family: 'Poppins',
      sans-serif !important;">Receipt Page</h3>

        </div>

        <div class="e-col-4">
            <input class="e-control" type="text" placeholder="@Enter OR#...." ng-model="search" required>
        </div>

        <div class="e-col-2">
            <a class="e-btn small inverted purple" id="generateReceipt">Generate Receipt</a>
        </div>

    </div>
    <div class="pl-2 pb-3">
        <dir-pagination-controls max-size="8" direction-links="true" boundary-links="true">
        </dir-pagination-controls>
    </div>

    <table class="e-table striped bordered">
        <thead>
            <tr>
                <th>NO</th>
                <th>Receipt Number</th>
                <th>User</th>
                <th>Status</th>
                <th>Remarks</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody ng-init="getReceipts()">
            <tr dir-paginate="receipt in receipts | filter : search  | itemsPerPage:20">
                <td class="">{{$index+1}}</td>
                <td class="">
                    <a onclick="showReceiptDetails()" ng-click="getReceiptDetails(receipt.receipt_id)" ng-if='receipt.receipt_id'  class="d-rel emp"> {{receipt.receipt_no}} </a>
                    <span ng-if='receipt.receipt_id == null'>{{receipt.receipt_no}} </span>
                </td>
                <td class="">{{receipt.name}}</td>
                <td class="">{{receipt.status}}</td>
                <td class="">{{receipt.remarks}}</td>
                <td class=""><button class="e-btn danger inverted small" ng-click="voidReceipt(receipt.receipt_no)" style="margin: 0%;" ng-disabled="receipt.remarks == 'Voided'"><i class="fas fa-minus-circle"></i> void</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="e-modal" id="generateModal">
    <div class="e-modal-content eSlide">
        <header class="e-modal-header">
            <p class="e-modal-title">Register Receipts</p>
            <button type="button" class="e-delete close">
                <i aria-hidden="true">&times;</i>
            </button>
        </header>
        <div class="e-modal-body">
            <div class="e-form-group unified">
                <input class="e-control" type="text" id="from" ng-model = 'from'  placeholder="#FROM" required>
                <input class="e-control" type="text" id="to"  ng-model = 'to' placeholder="#TO" required>
            </div>
        </div>
        <footer class="e-modal-footer">
            <button class="e-btn purple outlined" id="generateOR" ng-click='generateOR()'>Generate</button>
        </footer>
    </div>
</div>

<script>
$("#generateReceipt").click(function(){
$("#generateModal").toggleClass("launch");
});

$(".close").click(function(){
$("#generateModal").removeClass("launch");
});
    
</script>