<div class="e-container-fluid p-3" ng-init="getSummary('%')">
    <div class="d-flex centered between">
            <h6>Summary Collection as of {{displayDateRange}} </h6>
            <div class="e-form-group unified e-col-6">
                    <!-- <select class="e-select e-control"  placeholder="filter By User" ng-model="selectedUforReports" required>
                        <option value="%">All</option>
                        <option value="u.id" ng-repeat="u in allPaycoUsers">{{u.username}}</option>
                    </select> -->
                    <input type="text" class="e-control" ng-model="dateRange" name="daterange" placeholder="Filter by Date" />
                    <button class="inverted e-btn dark" ng-click="getSummary()"><i class="fa fa-arrow-right"></i> filter</button>
            </div>
            <h6 class="text-shadow underline underline--blue">{{today}}</h6>

    </div>
    <table class="e-table bordered hovered">
      <thead>
        <tr>
          <th>Category</th>
          <th ng-repeat="u in allPaycoUsers">{{u.username}}</th>
          <th>Total Amount</th>
        </tr>
      </thead>
      <tbody>
            <tr ng-if="(xHeader[0].length !=  null  && xHeader[0].length > 1)" style="background:#5e72e4;" class="text-white">
              <th>TUITION</th>
              <td ng-repeat="h in xHeader[0] track by $index">Php. {{h | number:2|| "0.00"}}</td>
            </tr>
            <tr ng-repeat='t in payloadSummary[0]'>
              <th>{{t[0]}}</th>
              <td ng-repeat='item in t track by $index' ng-if="$index > 0">Php. {{ item | number:2 || "0.00"} }</td>
            </tr>

            <tr ng-if="(xHeader[1].length !=  null && xHeader[1].length > 1)" style="background:#5e72e4;" class="text-white">
                <th>APPRENTICE FEES</th>
                <td ng-repeat="h in xHeader[1] track by $index">Php. {{h | number:2 || "0.00"}}</td>
              </tr>
              <tr ng-repeat='t in payloadSummary[1]'>
                <th>{{t[0]}}</th>
                <td ng-repeat='item in t track by $index' ng-if="$index > 0">Php. {{ item| number:2 || "0.00"}}</td>

              </tr>

              <tr ng-if="(xHeader[2].length !=  null && xHeader[2].length > 1)" style="background:#5e72e4;" class="text-white">
                  <th>BOOK FEES</th>
                  <td ng-repeat="h in xHeader[2] track by $index">Php. {{h | number:2}}</td>
                </tr>
                <tr ng-repeat='t in payloadSummary[2]'>
                  <th>{{t[0]}}</th>
                  <td ng-repeat='item in t track by $index' ng-if="$index > 0">Php. {{ item | number:2 || "0.00"}}</td>
                </tr>

                <tr ng-if="(xHeader[3].length !=  null && xHeader[3].length > 1)" style="background:#5e72e4;" class="text-white">
                    <th>OTHER FEES</th>
                    <td ng-repeat="h in xHeader[3] track by $index">Php. {{h | number:2}}</td>
                  </tr>
                  <tr ng-repeat='t in payloadSummary[3]'>
                    <th>{{t[0]}}</th>
                    <td ng-repeat='item in t track by $index' ng-if="$index > 0">Php. {{ item | number:2 || "0.00"}}</td>
                  </tr>
                  <tr ng-if="(xHeader[4].length !=  null && xHeader[4].length > 1)" style="background:#5e72e4;" class="text-white">
                      <th>BACK ACCOUNTS</th>
                      <td ng-repeat="h in xHeader[4] track by $index">Php. {{h | number:2}}</td>
                    </tr>
                    <tr ng-repeat='t in payloadSummary[4]'>
                      <th>{{t[0]}}</th>
                      <td ng-repeat='item in t track by $index' ng-if="$index > 0">Php. {{ item | number:2 || "0.00"}}</td>
                    </tr>                  
            <tr style="background:#5e72e4;" class="text-white">
              <th>TOTAL:</th>
              <th ng-repeat="xh in totalXheader track by $index">Php. {{xh | number:2}}</th>
            </tr>
      </tbody>
    </table>
</div>